.places__item-url {
  align-self: end; 
  grid-area: url;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 767px) {
  
  .places__item-url {
    margin: 0 16px;  
  }
    
}